{% extends "base.html" %} {% block main_content %}

<div class="section2_2">
  <div class="section2_2_1">
    <div class="boutonS2_2">
      <div class="clic">
        <a href="/Ajout/">Ajouter</a>
      </div>
    </div>
    <div class="listeS">
      <h1>Le Produit numéro 5 a été modifié avec succès</h1>
    </div>
    <div class="tableau">
      <table>
        <th>Id</th>
        <th>Nom</th>
        <th>Categorie</th>
        <th>Prix</th>
        <th>Action</th>
        <tr class="ligne1">
          <td>1</td>
          <td>Produit 1</td>
          <td>Categorie 1</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>
        <tr class="ligne2">
          <td>2</td>
          <td>Produit 2</td>
          <td>Categorie 2</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne3">
          <td>3</td>
          <td>Produit 3</td>
          <td>Categorie 3</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne4">
          <td>4</td>
          <td>Produit 4</td>
          <td>Categorie 4</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne5_2">
          <td>5</td>
          <td>Produit 5</td>
          <td>Categorie 5</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne6">
          <td>6</td>
          <td>Produit 6</td>
          <td>Categorie 6</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne7">
          <td>7</td>
          <td>Produit 7</td>
          <td>Categorie 7</td>
          <td>Prix </td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne8_2">
          <td>8</td>
          <td>Produit 8</td>
          <td>Categorie 8</td>
          <td>Prix</td>
          <td class="action">
            <div class="modifier">
              <a href="/Modifier/">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/Supprimer/">Supprimer</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock main_content%}