header {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 153, 255);
  border: solid rgb(0, 114, 137);
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  width: 45%;
  height: 100%;
  font-size: 85px;
  text-align: center;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
}

/* INDEX.HTML */
.section1 {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(177, 177, 177);
}

.section1_1 {
  height: 50%;
  width: 40%;
  border: 1px solid black;
  background-color: rgb(0, 153, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.formulaire1 {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.formulaire1 h1 {
  height: 8%;
  width: 100%;
  font-size: 2em;
}
.formulaire1 form {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.formulaire1 form input[type="text"],
.formulaire1 form input[type="password"] {
  width: 90%;
  height: 20%;
  border-radius: 10px;
  text-align: center;
}
.formulaire1 form input[type="submit"] {
  width: 60%;
  height: 20%;
  text-align: center;
  border-radius: 10px;
}
.texte2 {
  height: 8%;
  width: 100%;
  font-size: 18px;
  text-decoration: underline;
  color: #fff;
}
/* INDEX.HTML */

/* INDEX4.HTML */

.section2 {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(177, 177, 177);
}

.section2_1 {
  width: 20%;
  height: 100%;
  background-color: rgb(0, 153, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section2_1_1 {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.section2_2 {
  width: 80%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2_2_1 {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Ajouter {
  width: 100%;
  height: 12%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.formulaire {
  width: 60%;
  height: 70%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formulaire form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formulaire form div {
  width: 100%;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
.formulaire form div input {
  padding: 13px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
  margin: 0 auto;
}
.formulaire form .bouton6 {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.formulaire form .bouton6 .bouton6_1 {
  padding: 13px;
  width: 120px;
  background-color: rgb(175, 0, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
.formulaire form .bouton6 .bouton6_2 {
  padding: 13px;
  width: 120px;
  background-color: rgb(25, 126, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
.buttons {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
button:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}

.boutonS2_2 {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clic {
  width: 15%;
  height: 70%;
  font-size: 25px;
  border: solid rgb(0, 49, 7);
  background-color: rgb(1, 156, 37);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clic1 {
  background-color: rgb(1, 156, 37);
}

.liste0 {
  display: flex;
  justify-content: start;
  margin: 0;
  font-size: 22px;
}

.liste {
  width: 100%;
  height: 6%;
  font-size: 20px;
  display: flex;
}
.liste h1 {
  width: 50%;
  height: 100%;
  background-color: beige;
  border: #bbffa7 1px solid;
  border-radius: 10px;
  text-align: center;
}
.tableau {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

th {
  border: 2px solid rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  background-color: rgb(0, 153, 255);
  color: #fff;
}

td {
  border: 1px solid beige;
  font-size: 30px;
  text-align: center;
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.action .modifier {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 1px solid rgb(0, 49, 7);
  border-radius: 7px;
  background-color: rgb(255, 196, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action .supprimer {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 1px solid rgb(0, 49, 7);
  border-radius: 7px;
  background-color: rgb(195, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

.ligne1 {
  background-color: rgb(194, 231, 255);
}
.ligne2 {
  background-color: rgb(173, 207, 230);
}
.ligne3 {
  background-color: rgb(194, 231, 255);
}
.ligne4 {
  background-color: rgb(173, 207, 230);
}
.ligne5 {
  background-color: rgb(194, 231, 255);
}
.ligne6 {
  background-color: rgb(173, 207, 230);
}
.ligne7 {
  background-color: rgb(194, 231, 255);
}

.ligne8 {
  background-color: rgb(173, 207, 230);
  color: rgb(1, 156, 37);
}

/* form {
  display: flex;
  flex-direction: row;
  width: 100%;
} */

/* INDEX4.HTML */

/* MODIFIER.HTML */

.Modifier {
  width: 100%;
  height: 12%;
  font-size: 20px;
  display: flex;
  align-items: center;
}


.formulaire2 {
  width: 60%;
  height: 70%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formulaire2 form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formulaire2 form div {
  width: 100%;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
.formulaire2 form div input {
  padding: 13px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
  margin: 0 auto;
}
.formulaire2 form .bouton6 {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.formulaire2 form .bouton6 .bouton6_1 {
  padding: 13px;
  width: 120px;
  background-color: rgb(175, 0, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
.formulaire2 form .bouton6 .bouton6_2 {
  padding: 13px;
  width: 120px;
  background-color: rgb(25, 126, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}

#Téléphone {
  color: rgb(33, 142, 0);
}

.bouton6 {
  width: 30%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.bouton6_1 {
  padding: 13px;
  width: 120px;
  background-color: rgb(175, 0, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
.bouton6_2 {
  padding: 13px;
  width: 120px;
  background-color: rgb(25, 126, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}

/* MODIFIER.HTML */

/* MODIFIER AVEC SUCCES.HTML */

.boutonS2_2 {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clic {
  width: 15%;
  height: 70%;
  font-size: 25px;
  border: solid 1px rgb(0, 49, 7);
  background-color: rgb(1, 156, 37);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listeS {
  width: 50%;
  height: 8%;
  font-size: 18px;
  border-radius: 10px;
  border: solid 1px rgb(0, 49, 7);
  background-color: rgb(229, 255, 234);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}

.tableau {
  width: 100%;
  height: 45%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

th {
  border: 2px solid rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  background-color: rgb(0, 153, 255);
  color: #fff;
}

td {
  border: 1px solid beige;
  font-size: 30px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

.ligne1 {
  background-color: rgb(194, 231, 255);
}
.ligne2 {
  background-color: rgb(173, 207, 230);
}
.ligne3 {
  background-color: rgb(194, 231, 255);
}
.ligne4 {
  background-color: rgb(173, 207, 230);
}
.ligne5_2 {
  background-color: rgb(194, 231, 255);
  color: rgb(1, 156, 37);
}
.ligne6 {
  background-color: rgb(173, 207, 230);
}
.ligne7 {
  background-color: rgb(194, 231, 255);
}
.ligne8_2 {
  background-color: rgb(173, 207, 230);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.action .modifier {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 1px solid rgb(0, 49, 7);
  border-radius: 7px;
  background-color: rgb(255, 196, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action .supprimer {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 1px solid rgb(0, 49, 7);
  border-radius: 7px;
  background-color: rgb(195, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MODIFIER AVEC SUCCES.HTML */

/* SUPPRIMER.HTML */
.section2_2_1_0 {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Suppression {
  width: 100%;
  height: 12%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.Supprimer {
  width: 70%;
  height: 30%;
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(255, 191, 154);
  border: solid 1px rgb(0, 153, 255);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton6 {
  width: 30%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.bouton6_1_1 {
  padding: 13px;
  width: 120px;
  background-color: rgb(175, 0, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
.bouton6_2_2 {
  padding: 13px;
  width: 120px;
  background-color: rgb(25, 126, 0);
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 119);
}
/* SUPPRIMER.HTML */