<div class="section2_1">
  <div class="section2_1_1">
    <div class="bouton1">
      <a href="/"><button class="buttons">Accueil</button></a>
    </div>
    <div class="bouton1">
      <a href="/page3/"><button class="buttons">Magasins</button></a>
    </div>
    <div class="bouton2">
      <a href="#"><button class="buttons">Produits</button></a>
    </div>
    <div class="bouton3">
      <a href="#"><button class="buttons">Vente</button></a>
    </div>
    <div class="bouton4">
      <a href="#"><button class="buttons">Stock</button></a>
    </div>
    <div class="bouton5">
      <a href="/"><button class="buttons">Déconnexion</button></a>
    </div>
  </div>
</div>
