{% extends "base.html" %}
{% block centre %}


            <div id="right" class="right">
                <div class="ajout1"><a href="/Ajout_produits/">Ajouter</a>
                </div>

                <div class="tab">
                    <table border="1">
                        <caption>liste des produits</caption>
                        <thead>
                            <tr>    
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Categorie</th>
                                <th>Prix</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="col">
                                <td>1</td>
                                <td>Produit1</td>
                                <td>Categorie1</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>2</td>
                                <td>Produit2</td>
                                <td>Categorie2</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>3</td>
                                <td>Produit3</td>
                                <td>Categorie3</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>4</td>
                                <td>Produit4</td>
                                <td>Categorie4</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>5</td>
                                <td>Produit5</td>
                                <td>Categorie5</td>
                                <td>Prix</td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>6</td>
                                <td>Produit6</td>
                                <td>Categorie6</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>7</td>
                                <td>Produit7</td>
                                <td>Categorie7</td>
                                <td>Prix</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod2">
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="/Modifier_produits/">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="/Supprimer_Produit/">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
 {% endblock %}