<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page7</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <section class="contenaire">
        <section class="zoro">
            <p>ZORO</p>
        </section>
        <section class="cart2">
            <div class="left">
                <div class="liste">
                    <div>
                        <a href="/page4/">Accueil</a>
                    </div>
                    <div>
                        <a href="/page4/">Magasin</a>
                    </div>
                    <div>
                        <p>Produit</p>
                    </div>
                    <div>
                        <p>Vente</p>
                    </div>
                    <div>
                        <p>Stock</p>
                    </div>
                    <div><a href="/">Déconnexion</a></div>
                </div>
            </div>
            <div class="right">
                <div class="espace">
                    <div class="para">
                        <p>Modifier un Magasin</p>
                    </div>
                    <div class="form">
                        <form>
                            <div>
                                <label for="nom"> Entrez votre nom:</label>
                                <input type="text" id="nom" placeholder="Magasin 5"  name="nom">
                            </div> <br>
                            <div>
                                <label for="adresse"> Entrez votre Adresse:</label>
                                <input type="text" id="adresse"placeholder="Adresse 5" name="adresse">
                            </div> <br>
                            <div>
                                <label for="tel"> Entrez votre Telephone:</label>
                                <input type="number" id="tel"placeholder="Telephone M" name="tel">
                            </div> <br>
                            <div>
                                <label for="mail"> Entrez votre Email</label>
                                <input type="email" id="mail"placeholder="E-mail 5" name="mail">
                            </div> 
                        </form>
                    </div>
                    <div class="bouton">
                        <!-- <input type="submit" value="Retour">
                        <input type="submit" value="Valider"> -->
                        <a href="/page4/"> Retour</a>
                        <a href="/page8/">Valider</a>
                    </div>
                </div>
            </div>
        </section>

</body>

</html>