{% extends "base.html" %} {% block main_content %}

<div class="section2_2">
  <div class="section2_2_1">
    <div class="Ajouter">
      <h1>Modifier un magasin</h1>
    </div>
    <div class="formulaire2">
      <form action="" method="get">
        <div>
          <label for="Nom">Nom:</label>
          <input type="text" name="Nom" id="Nom" value="Magasin 5" />
        </div>

        <div>
          <label for="Adresse">Adresse:</label>
          <input type="url" name="Adresse" id="Adresse" value="Adresse 5" />
        </div>

        <div>
          <label for="Téléphone">Téléphone:</label>
          <input
            type="tel"
            name="Téléphone"
            id="Téléphone"
            value="Téléphone M"
          />
        </div>

        <div>
          <label for="E-mail">E-mail:</label>
          <input type="email" name="E-mail" id="E-mail" value="E-mail 5" />
        </div>

        <div class="bouton6">
          <div class="bouton6_1">
            <a href="/page5/">Retour</a>
          </div>
          <div class="bouton6_2">
            <a href="/page7/">Valider</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock main_content%}
