{% extends "base.html" %} {% block main_content %}

<div class="section2_2">
  <div class="section2_2_1_0">
    <div class="Suppression">
      <h1>Suppression de magasin</h1>
    </div>
    <div class="Supprimer">
      <p>
        Vous êtes sur le point de supprimer le magasin n°2. Êtes-vous
        <br />
        sûr de vouloir continuer ?
      </p>
    </div>
    <div class="bouton6">
      <div class="bouton6_1_1">
        <a href="/page7/">Retour</a>
      </div>
      <div class="bouton6_2_2">
        <a href="/page9/">Confirmer</a>
      </div>
    </div>
  </div>
</div>
{% endblock main_content%}
