<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page8</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <section class="contenaire">
        <section class="zoro">
            <p>ZORO</p>
        </section>
        <section class="cart2">
            <div class="left">
                <div class="liste">
                    <div>
                        <a href="page2.html">Accueil</a>
                    </div>
                    <div>
                        <a href="page4.html">Magasin</a>
                    </div>
                    <div>
                        <p>Produit</p>
                    </div>
                    <div>
                        <p>Vente</p>
                    </div>
                    <div>
                        <p>Stock</p>
                    </div>
                    <div><a href="page1.html">Déconnexion</a></div>
                </div>
            </div>
            <div id="right" class="right">
                <div class="ajout1"><a href="page5.html">Ajouter</a>
                </div>

                <div class="tab">
                    <table border="1">
                        <div class="enregis">
                            <h1> le Magasin numero 5 a été modifié avec succès!</h1>
                        </div> <br>

                        <thead>
                            <tr>    
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Telephone</th>
                                <th>Mail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="col">
                                <td>1</td>
                                <td>Magasin1</td>
                                <td>Adresse1</td>
                                <td>Telephone1</td>
                                <td>E-Mail1</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>2</td>
                                <td>Magasin2</td>
                                <td>Adresse2</td>
                                <td>Telephone2</td>
                                <td>E-Mail2</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>3</td>
                                <td>Magasin3</td>
                                <td>Adresse3</td>
                                <td>Telephone3</td>
                                <td>E-Mail3</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>4</td>
                                <td>Magasin4</td>
                                <td>Adresse4</td>
                                <td>Telephone4</td>
                                <td>E-Mail4</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>5</td>
                                <td>Magasin5</td>
                                <td>Adresse5</td>
                                <td>Telephone5</td>
                                <td>E-Mail5</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod">
                                <td>6</td>
                                <td>Magasin6</td>
                                <td>Adresse6</td>
                                <td>Telephone6</td>
                                <td>E-Mail6</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="col">
                                <td>7</td>
                                <td>Magasin7</td>
                                <td>Adresse7</td>
                                <td>Telephone7</td>
                                <td>E-Mail7</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="cod2">
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>Nouveau</td>
                                <td>
                                    <div>
                                        <button>
                                            <a href="page7.html">Modifier</a>
                                        </button>
                                        <button>
                                            <a href="page9.html">supprimer</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
</body>
</html>