{% extends "base.html" %} {% block main_content %}

<div class="section2_2">
  <div class="section2_2_1">
    <div class="boutonS2_2">
      <div class="clic">
        <a href="/page4/">Ajouter</a>
      </div>
    </div>
    <div class="listeS">
      <h1>Le magasin numéro 5 a été modifié avec succès</h1>
    </div>
    <div class="tableau">
      <table>
        <th>Id</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Mail</th>
        <th>Action</th>
        <tr class="ligne1">
          <td>1</td>
          <td>Magasin 1</td>
          <td>Adresse 1</td>
          <td>Téléphone 1</td>
          <td>E-mail 1</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>
        <tr class="ligne2">
          <td>2</td>
          <td>Magasin 2</td>
          <td>Adresse 2</td>
          <td>Téléphone 2</td>
          <td>E-mail 2</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne3">
          <td>3</td>
          <td>Magasin 3</td>
          <td>Adresse 3</td>
          <td>Téléphone 3</td>
          <td>E-mail 3</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne4">
          <td>4</td>
          <td>Magasin 4</td>
          <td>Adresse 4</td>
          <td>Téléphone 4</td>
          <td>E-mail 4</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne5_2">
          <td>5</td>
          <td>Magasin 5</td>
          <td>Adresse 5</td>
          <td>Téléphone 5</td>
          <td>E-mail 5</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne6">
          <td>6</td>
          <td>Magasin 6</td>
          <td>Adresse 6</td>
          <td>Téléphone 6</td>
          <td>E-mail 6</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne7">
          <td>7</td>
          <td>Magasin 7</td>
          <td>Adresse 7</td>
          <td>Téléphone 7</td>
          <td>E-mail 7</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>

        <tr class="ligne8_2">
          <td>8</td>
          <td>Magasin 8</td>
          <td>Adresse 8</td>
          <td>Téléphone 8</td>
          <td>E-mail 8</td>
          <td class="action">
            <div class="modifier">
              <a href="{{url_for('page6')}}">Modifier</a>
            </div>
            <div class="supprimer">
              <a href="/page8/">Supprimer</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock main_content%}