{% extends "base.html" %} 
{% block main_content %}

<div class="section2_2">
  <div class="section2_2_1">
    <div class="Ajouter">
      <h1>Ajouter un nouveau magasin</h1>
    </div>
    <div class="formulaire">
      <form method="POST">
        <div>
          <label for="Nom">Nom:</label>
          <input type="text" id="Nom" name="Nom" value="{{data[1]}}" required />
        </div>

        <div>
          <label for="Adresse">Adresse:</label>
          <input type="text" id="Adresse" name="Adresse" value="{{data[2]}}" required />
        </div>
        <div>
          <label for="Téléphone">Téléphone:</label>
          <input type="tel" id="Téléphone" name="Telephone" value="{{data[3]}}" required />
        </div>
        <div>
          <label for="E-mail">E-mail:</label>
          <input type="email" id="E-mail" name="email" value="{{data[4]}}" required />
        </div>
        <div class="bouton6">
          <div class="bouton6_1">
            <a href="{{url_for('pages5')}}">Retour</a>
          </div>
          <div class="bouton6_2">
            <button type="submit">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
