{% extends "base.html" %} {% block main_content %}

<div class="section2_2">
  <div class="section2_2_1">
    <div class="Ajouter">
      <h1>Ajouter un nouveau magasin</h1>
    </div>
    <div class="formulaire">
      <form action="" method="get">
        <div>
          <label for="Nom">Nom:</label>
          <input type="text" name="Nom" id="Nom" />
        </div>

        <div>
          <label for="Adresse">Adresse:</label>
          <input type="url" name="Adresse" id="Adresse" />
        </div>
        <div>
          <label for="Téléphone">Téléphone:</label>
          <input type="tel" name="Téléphone" id="Téléphone" />
        </div>
        <div>
          <label for="E-mail">E-mail:</label>
          <input type="email" name="E-mail" id="E-mail" />
        </div>
        <div class="bouton6">
          <div class="bouton6_1">
            <a href="/page3/">Retour</a>
          </div>
          <div class="bouton6_2">
            <a href="/page5/">Valider</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main_content%}
